.promotionDiv {
    width: 100%;
    height: 50vh;
    overflow: hidden;
}

.promotionImg {
    width: 100% !important;
    height: fit-content;
    display: block;
    object-fit: cover;
    object-position: center;
}